@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Philosopher', sans-serif;
    width: 100%;
    height: 100vh;
}
/*Navbar*/
nav.navigation{
    background: #0082e6;
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

.navigation ul.menu{
    float: right;
    margin-right: 20px;
}

.navigation ul.menu li.menu-items {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.navigation ul.menu li.menu-items a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}
label.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}

#check{
    display: none;
}

/*Add Student Page*/
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.container:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(50px);
}

.box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 19px 5px rgba(0,0,0,0.19);

}

.box .left{
    height: 100%;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
}

.box .right{
    padding: 25px 40px;
}

.right h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.right h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0,0,0,0);
    background-color: rgba(230,230,230,0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s;
}

.field:hover{
    background-color: rgba(0,0,0,0.1);
}

.field:focus{
    background-color: #fff;
    border: 2px solid rgba(30,85,250,0.47);
}

.btn {
    width: 100%;
    margin-bottom: 10px;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #2ecc71;
    cursor: pointer;
    outline: none;
    border: none;
    color: #FFF;
    transition: 0.3s;
}

.btn:hover{
    background-color: #27ae60;
}

/*Profile Page*/
.box {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    transition: 0.5s;
}

.box:hover {
    height: 400px;
}

.box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.box .imgBx img {
    max-width: 100%;
    opacity: 0.1;
    transition: 0.5s;
}

.box:hover .imgBx img {
    opacity: 1;
}

.box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #FFF;
    z-index: -1;
}

.box:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #FFF;
    z-index: -2;
    /* filter: blur(40px); */
}

.box:before,
.box:after {
    background-image: linear-gradient(to right bottom, #e11129, #da2c5b, #c44b7e, #a86292, #8e7394, #876f96, #7d6c99, #726a9c, #6559af, #5646c1, #4030d1, #1c0ce0);
}

.box .content {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 135px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 0.5s;
}

.box .content h2 {
    font-size: 20px;
    color: #FFF;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}

.box .content h2 span {
    font-size: 14px;
    color: #FFF;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 2px;
}


@media screen and (max-width: 952px) {
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    .navigation ul.menu li.menu-items a{
        font-size: 16px;
    }

}

@media screen and (max-width: 858px){
    label.checkbtn{
        display: block;
    }

    .navigation ul.menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .navigation ul.menu li.menu-items{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .navigation ul.menu li.menu-items a{
        font-size: 20px;
    }

    #check:checked ~ ul.menu{
        left: 0;
    }

    .box{
        grid-template-columns: 1fr;
    }

    .box .left{
        height: 200px;
    }
}