{% url 'student_profile' as student %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Student Profile</title>


{#    <script src="https://kit.fontawesome.com/a076d05399.js"></script>#}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body {% if request.get_full_path == student %}
        style="display: flex;justify-content: center;
        align-items: center;flex-wrap: wrap;
        min-height: 100vh;background-size: cover;"
    {% endif %}>
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}

    <script src="{% static 'js/upload_button.js' %}"></script>
</body>
</html>