@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Philosopher', sans-serif;
    width: 100%;
    height: 100vh;
}
/*Navbar*/
nav.navigation{
    background: #0082e6;
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

.navigation ul.menu{
    float: right;
    margin-right: 20px;
}

.navigation ul.menu li.menu-items {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.navigation ul.menu li.menu-items a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}
label.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}

#check{
    display: none;
}

/*Add Student Page*/
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.container:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(50px);
}

.box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 19px 5px rgba(0,0,0,0.19);

}

.box .left{
    height: 100%;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
}

.box .right{
    padding: 25px 40px;
}

.right h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.right h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0,0,0,0);
    background-color: rgba(230,230,230,0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s;
}

.field:hover{
    background-color: rgba(0,0,0,0.1);
}

.field:focus{
    background-color: #fff;
    border: 2px solid rgba(30,85,250,0.47);
}

.btn {
    width: 100%;
    margin-bottom: 10px;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #2ecc71;
    cursor: pointer;
    outline: none;
    border: none;
    color: #FFF;
    transition: 0.3s;
}

.btn:hover{
    background-color: #27ae60;
}

/*Profile Page*/
.profile-box {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    transition: 0.5s;
}

.profile-box:hover {
    height: 400px;
}

.profile-box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.profile-box .imgBx img {
    max-width: 100%;
    opacity: 0.1;
    transition: 0.5s;
}

.profile-box:hover .imgBx img {
    opacity: 1;
}

.profile-box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #FFF;
    z-index: -1;
}

.profile-box:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    /*background: #FFF;*/
    z-index: -2;
    /* filter: blur(40px); */
}

.profile-box:before,
.profile-box:after {
    background-image: linear-gradient(to right bottom, #e11129, #da2c5b, #c44b7e, #a86292, #8e7394, #876f96, #7d6c99, #726a9c, #6559af, #5646c1, #4030d1, #1c0ce0);
}

.profile-box .content {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 135px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 0.5s;
}

.profile-box .content h2 {
    font-size: 20px;
    color: #FFF;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}

.profile-box .content h2 span {
    font-size: 14px;
    color: #FFF;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 2px;
}

/*Student Detail Page*/

.banner{
    position: relative;
    padding: 0 100px;
    align-items: center;
    display: flex;
}

.context{
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform-origin: right;
}

.context .context-box{
    max-width: 600px;
}

.context .context-box h2{
    font-size: 4em;
}

.context .context-box p{
    font-size: 1em;
    margin: 20px 0;
}

.center{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    margin-top: 25px;
}

.center .mobile{
    width: 276px;
    height: 530px;
    background: #000;
    border-radius: 30px;
    border: 2px solid rgba(255,255,255,0.3);
    box-sizing: border-box;
    box-shadow: inset 0 0 8px rgba(255,255,255,0.3);
}

.center .mobile .screen{
    position: relative;
    /*width: 256px;*/
    height: 455px;
    margin: 25px auto;
}

.center .mobile .screen img{
    height: 455px;
    width: 272px;
}

.center .mobile .home{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    height: 35px;
    background: #fff;
    box-shadow: inset 0 0 7px rgba(0,0,0,0.1);
    border-radius: 50%;
    border: 2px solid;
    box-sizing: border-box;
}

.center .mobile .inner{
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 4px;
    background: #fffee8;
    border-radius: 2px;
    box-sizing: border-box;
}

.center .mobile .inner:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -22px;
    background: #fff;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.center .mobile .volume{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 90px;
    left: -2px;
}

.center .mobile .volume li{
    list-style: none;
    width: 2px;
    height: 30px;
    background: #000;
    margin: 10px 0;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.center .mobile .silent{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50px;
    left: -2px;
}

.center .mobile .silent li{
    list-style: none;
    width: 2px;
    height: 20px;
    background: #000;
    margin: 10px 0;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.center .mobile .sleep{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 90px;
    right: -2px;
}

.center .mobile .sleep li{
    list-style: none;
    width: 2px;
    height: 30px;
    background: #000;
    margin: 10px 0;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/*Custom Upload Button*/

.up-btn{
    /*width: 100%;*/
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #2ecc71;
    cursor: pointer;
    outline: none;
    border: none;
    color: #FFF;
    transition: 0.3s;
}

.up-box{
    font-size: 16px;
    background: #fff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 350px;
    outline: none;
    box-shadow: 5px 5px 10px black;
}

/*::-webkit-file-upload-button{*/
/*    color: #fff;*/
/*    background: #206a5d;*/
/*    padding: 20px;*/
/*    border: none;*/
/*    -webkit-border-radius: 50px;*/
/*    -moz-border-radius: 50px;*/
/*    border-radius: 50px;*/
/*    box-shadow: 1px 0 1px 1px #6b4559;*/
/*    outline: none;*/
/*}*/

.upload-file, .note{
    align-items: center;
    display: flex;
    left: 40%;
    position: relative;
    top: 10px;
    margin-bottom: 10px;
}

.or{
    left: 50%;
    display: flex;
    position: relative;
    font-size: 20px;
    margin-top: 25px;
}

@media screen and (max-width: 952px) {
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    .navigation ul.menu li.menu-items a{
        font-size: 16px;
    }

}

@media screen and (max-width: 858px){
    label.checkbtn{
        display: block;
    }

    .navigation ul.menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 10;
    }

    .navigation ul.menu li.menu-items{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .navigation ul.menu li.menu-items a{
        font-size: 20px;
    }

    #check:checked ~ ul.menu{
        left: 0;
    }


    .box{
        grid-template-columns: 1fr;
    }

    .box .left{
        height: 200px;
    }

    .profile-box{
        height: 400px;
        z-index: 1;
    }

    .profile-box .imgBx img{
        opacity: 1;
        z-index: 1;
    }
}